.header {
  background-color: #7b2cbf;
  color: white;
  display: flex;
  justify-content: center;
  position: relative;
}

.headerContainer {
  width: 100%;

  margin: 20px 0px 100px 0px;
}

.headerList {
  margin-left: 20px;
  display: flex;
  gap: 40px;
  margin-bottom: 50;
}

.headerListItem {
  display: flex;
  align-items: center;

  font-size: 25px;
  gap: 10px;
}

.headerListItem.active {
  border: 1px solid white;
  padding: 10px;
  border-radius: 20px;
}

.headerDesc {
  margin: 20px 20px;
  font-size: 25px;
}
.headerTitle {
  margin-left: 20px;
}
.headerBtn {
  font-weight: bold;
  font-size: 20px;
  margin-left: 20px;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  color: #5a189a;
  border-radius: 5px;

  margin-right: 20px;
}

.headerSearch {
  height: 40px;
  background-color: white;
  border: 3px solid yellowgreen;
  display: flex;

  align-items: center;
  justify-content: space-around;
  padding: 10px 0px;
  border-radius: 5px;
  position: absolute;
  margin-left: 200px;
  bottom: -25px;
  width: 70%;
}

.headerIcon {
  color: lightseagreen;
  font-size: 30px;
}

.headerSearchItem {
  color: lightseagreen;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.headerSearchInput {
  border: none;
  outline: none;
}
.date {
  position: absolute;
  top: 50px;
}
